In [24]:
import pandas as pd
import numpy as np

In [25]:
import os
with open("example_sentences.txt", encoding='utf-8') as f:
            lines = f.readlines()

In [26]:
EXAMPLE_SENTENCES = lines

In [47]:
import os
with open("furniture.txt", encoding='utf-8') as f:
            lines = f.readlines()

In [48]:
furnitures = []
labels = []
furniture_id = []
id = 0 
for line in lines:
    array_of_line = line.split()
    length = len(array_of_line)
    furnitures.append(array_of_line[0])
    labels.append("B-FUR")
    furniture_id.append(id)
    if length > 1:
                for k in range(1,length):
                                        furnitures.append(array_of_line[k])
                                        labels.append("I-FUR")
                                        furniture_id.append(id)
    id = id+1

In [49]:
furniture_data = pd.DataFrame({
    "f_id":furniture_id,
    "word":furnitures,
    "label":labels
})
furniture_data

     f_id      word  label
0       0      Baby  B-FUR
1       0    lotion  I-FUR
2       1      Baby  B-FUR
3       1    bottle  I-FUR
4       2  Bassinet  B-FUR
..    ...       ...    ...
176   110     table  I-FUR
177   111       Bin  B-FUR
178   112     Trash  B-FUR
179   113     Trash  B-FUR
180   113       box  I-FUR

[181 rows x 3 columns]

In [119]:
sentence_id = []
labels = []
words = []

In [120]:
liste = [1,4,2,3,7]
liste.index(4)

1

In [121]:
import random
def func_create_data(furniture_id, example_sentence_remain, id):
    if len(example_sentence_remain)<20:
        example_sentence_remain = EXAMPLE_SENTENCES.copy()
    
    lst = list(range(0,len(example_sentence_remain)))
    random_samples = random.sample(lst,20)

    sample_sentence = example_sentence_remain.copy()

    print(random_samples)
    for t in range(20):
       #print(random_samples[t])
       to_be_deleted_sentence = example_sentence_remain[random_samples[t]]
       to_be_deleted_index = sample_sentence.index(to_be_deleted_sentence)
       del sample_sentence[to_be_deleted_index]


    for i in range(20):
        sntnc = example_sentence_remain[random_samples[i]]
        list_of_words = sntnc.split()

        for k in list_of_words:
            if k == "[MASK]":
                f_data = furniture_data[furniture_data["f_id"]==furniture_id]
                for j in range(len(f_data)):
                    labels.append(f_data.label.iloc[j])
                    sentence_id.append(id)
                    words.append(f_data.word.iloc[j])
            else:
                labels.append("O")
                sentence_id.append(id)
                words.append(k)
        id+=1 
    return sample_sentence,id

In [122]:
furniture_id_list = list(range(furniture_data.f_id.max()+1))
example_sentence_remain = EXAMPLE_SENTENCES.copy()
id = 0

In [123]:
for i in range(furniture_data.f_id.max()+1):
    example_sentence_remain,id = func_create_data(i,example_sentence_remain,id)

[97, 58, 90, 9, 51, 69, 11, 93, 91, 55, 71, 81, 73, 46, 87, 40, 38, 50, 74, 41]
[36, 32, 63, 42, 65, 64, 1, 53, 52, 78, 40, 72, 8, 35, 21, 27, 6, 19, 71, 12]
[44, 19, 52, 5, 42, 31, 21, 23, 4, 6, 49, 54, 32, 50, 34, 11, 2, 0, 57, 55]
[19, 20, 33, 31, 9, 23, 12, 11, 4, 22, 18, 5, 26, 17, 13, 15, 1, 21, 32, 6]
[4, 3, 13, 9, 12, 1, 7, 18, 10, 17, 11, 5, 0, 8, 6, 16, 14, 15, 2, 19]
[27, 44, 56, 73, 41, 84, 39, 90, 2, 87, 91, 35, 60, 82, 14, 25, 21, 3, 83, 68]
[36, 35, 66, 14, 60, 27, 61, 17, 22, 0, 21, 52, 44, 73, 18, 29, 67, 54, 49, 37]
[28, 26, 15, 42, 34, 10, 54, 23, 36, 49, 6, 29, 12, 50, 43, 48, 5, 52, 46, 0]
[20, 22, 29, 36, 3, 28, 21, 32, 17, 11, 4, 0, 8, 25, 5, 7, 37, 14, 10, 26]
[3, 5, 4, 9, 15, 8, 7, 2, 17, 1, 18, 16, 11, 19, 6, 0, 13, 14, 10, 12]
[76, 66, 47, 82, 53, 71, 75, 15, 43, 40, 23, 31, 92, 87, 34, 8, 84, 42, 44, 78]
[32, 37, 70, 62, 30, 25, 27, 56, 47, 28, 65, 26, 64, 36, 4, 78, 60, 18, 42, 74]
[6, 46, 5, 33, 41, 29, 30, 11, 22, 45, 51, 54, 56, 21, 32, 28, 0, 58, 3, 10]
[29, 22, 15, 19, 3, 21, 23, 6, 18, 34, 31, 10, 35, 7, 27, 17, 32, 24, 25, 12]
[15, 10, 8, 4, 16, 3, 5, 7, 9, 0, 11, 19, 6, 12, 1, 18, 13, 14, 2, 17]
[93, 17, 44, 91, 14, 45, 59, 67, 55, 7, 72, 49, 31, 19, 29, 27, 83, 43, 68, 25]
[37, 1, 31, 3, 23, 76, 9, 27, 14, 42, 59, 40, 60, 38, 62, 29, 52, 8, 45, 55]
[55, 15, 2, 40, 9, 1, 27, 31, 36, 10, 7, 16, 3, 57, 21, 58, 20, 38, 6, 48]
[36, 25, 4, 5, 2, 17, 21, 26, 31, 14, 7, 8, 1, 19, 35, 15, 39, 27, 20, 18]
[17, 5, 6, 7, 12, 3, 1, 16, 15, 0, 18, 4, 13, 8, 19, 9, 10, 11, 14, 2]
[13, 10, 24, 96, 5, 36, 26, 66, 94, 99, 58, 35, 38, 12, 7, 21, 73, 42, 44, 64]
[24, 71, 38, 63, 25, 54, 78, 9, 22, 34, 18, 26, 58, 6, 14, 27, 39, 72, 23, 13]
[29, 43, 33, 0, 58, 1, 21, 30, 11, 32, 36, 10, 13, 5, 45, 50, 9, 42, 4, 41]
[14, 34, 39, 19, 11, 15, 10, 26, 27, 33, 23, 30, 7, 36, 24, 2, 12, 29, 0, 16]
[2, 5, 19, 0, 17, 13, 1, 9, 6, 18, 15, 3, 11, 14, 7, 8, 16, 12, 10, 4]
[4, 12, 82, 70, 31, 9, 71, 81, 50, 35, 28, 1, 88, 68, 86, 67, 37, 40, 26, 72]
[50, 64, 76, 44, 34, 7, 12, 68, 8, 9, 33, 23, 77, 18, 14, 65, 36, 39, 66, 45]
[4, 32, 27, 9, 56, 2, 48, 29, 16, 57, 44, 28, 6, 33, 0, 43, 40, 38, 31, 36]
[2, 13, 3, 20, 1, 10, 5, 25, 22, 19, 18, 21, 33, 8, 14, 11, 31, 15, 16, 28]
[4, 3, 9, 19, 6, 13, 10, 0, 14, 5, 2, 1, 15, 16, 18, 11, 7, 17, 12, 8]
[2, 31, 78, 33, 13, 61, 40, 69, 57, 30, 22, 98, 83, 12, 86, 29, 97, 51, 3, 76]
[26, 16, 48, 38, 14, 37, 59, 2, 64, 60, 45, 20, 50, 68, 21, 36, 75, 46, 34, 43]
[5, 50, 11, 24, 22, 19, 33, 2, 38, 55, 17, 25, 53, 32, 40, 49, 57, 51, 3, 42]
[32, 36, 15, 10, 19, 2, 20, 0, 16, 21, 8, 1, 31, 35, 24, 28, 5, 12, 17, 18]
[3, 11, 7, 2, 4, 18, 12, 8, 5, 17, 16, 14, 1, 9, 0, 6, 15, 19, 10, 13]
[88, 23, 24, 93, 52, 29, 27, 2, 77, 45, 97, 6, 96, 35, 17, 70, 53, 66, 47, 81]
[24, 9, 3, 18, 67, 50, 46, 14, 13, 15, 30, 61, 79, 71, 2, 74, 34, 45, 5, 68]
[50, 25, 46, 39, 40, 6, 14, 42, 7, 8, 29, 54, 33, 38, 20, 1, 3, 36, 57, 41]
[15, 39, 13, 17, 23, 12, 18, 28, 14, 4, 32, 38, 3, 30, 31, 27, 11, 29, 2, 21]
[19, 9, 12, 5, 10, 18, 3, 7, 1, 13, 4, 16, 15, 2, 8, 14, 11, 6, 0, 17]
[43, 2, 85, 87, 48, 36, 10, 23, 70, 31, 16, 32, 40, 34, 14, 9, 51, 0, 80, 41]
[27, 47, 33, 20, 18, 29, 67, 49, 13, 62, 40, 12, 7, 21, 30, 59, 11, 68, 26, 5]
[57, 24, 22, 20, 39, 9, 47, 50, 12, 38, 11, 4, 49, 14, 43, 6, 15, 59, 58, 3]
[38, 3, 20, 22, 6, 4, 39, 30, 35, 31, 21, 10, 32, 28, 25, 13, 17, 23, 1, 12]
[12, 2, 8, 10, 19, 11, 3, 0, 4, 1, 17, 13, 5, 7, 15, 9, 16, 18, 6, 14]
[57, 38, 31, 13, 94, 41, 23, 17, 18, 2, 46, 56, 7, 37, 12, 91, 63, 8, 62, 98]
[21, 36, 66, 7, 77, 45, 23, 58, 14, 72, 44, 0, 49, 12, 40, 46, 19, 22, 37, 32]
[16, 21, 41, 42, 31, 51, 11, 18, 45, 7, 59, 23, 24, 2, 10, 15, 43, 48, 36, 55]
[22, 25, 5, 39, 8, 37, 14, 7, 36, 33, 28, 2, 21, 32, 12, 3, 26, 10, 0, 31]
[16, 5, 13, 19, 7, 18, 0, 15, 3, 10, 11, 8, 17, 6, 4, 9, 12, 2, 14, 1]
[92, 21, 9, 71, 58, 56, 1, 70, 13, 89, 46, 31, 86, 94, 97, 38, 73, 24, 96, 83]
[66, 3, 40, 1, 51, 54, 76, 30, 46, 70, 49, 19, 16, 37, 13, 26, 42, 43, 58, 29]
[51, 42, 2, 52, 57, 29, 49, 54, 47, 58, 12, 18, 14, 16, 56, 59, 35, 13, 30, 50]
[8, 21, 4, 10, 29, 18, 36, 34, 26, 27, 23, 32, 9, 38, 0, 13, 22, 39, 24, 3]
[2, 13, 3, 15, 7, 17, 19, 1, 14, 16, 9, 18, 4, 12, 8, 5, 6, 10, 11, 0]
[32, 93, 97, 26, 18, 85, 99, 50, 75, 35, 8, 72, 36, 5, 94, 69, 82, 70, 14, 22]
[18, 1, 57, 73, 77, 62, 48, 23, 16, 69, 30, 54, 24, 5, 10, 33, 53, 40, 17, 43]
[15, 39, 38, 42, 0, 12, 8, 46, 41, 45, 49, 32, 57, 56, 44, 22, 13, 11, 53, 40]
[14, 29, 35, 31, 33, 1, 36, 28, 5, 24, 11, 9, 15, 8, 10, 17, 3, 32, 30, 6]
[18, 6, 15, 2, 19, 17, 14, 1, 4, 11, 8, 7, 0, 3, 9, 5, 10, 16, 13, 12]
[11, 32, 75, 48, 92, 15, 83, 29, 33, 86, 4, 65, 39, 66, 74, 46, 8, 26, 16, 50]
[13, 56, 47, 23, 53, 65, 64, 41, 16, 51, 4, 2, 58, 5, 60, 50, 49, 3, 26, 42]
[58, 57, 49, 44, 47, 6, 7, 56, 20, 48, 5, 22, 18, 11, 19, 51, 13, 1, 54, 12]
[3, 18, 36, 32, 13, 15, 24, 25, 6, 2, 30, 37, 27, 29, 22, 20, 33, 17, 21, 5]
[11, 4, 14, 15, 3, 17, 19, 5, 0, 9, 7, 6, 1, 8, 13, 12, 18, 2, 16, 10]
[18, 71, 77, 45, 53, 56, 25, 84, 0, 35, 99, 80, 23, 51, 59, 86, 87, 32, 79, 47]
[32, 64, 10, 11, 75, 28, 51, 30, 14, 4, 56, 34, 76, 16, 43, 73, 46, 33, 35, 21]
[57, 17, 10, 0, 4, 5, 26, 20, 19, 25, 50, 3, 36, 41, 56, 28, 59, 27, 7, 8]
[27, 18, 15, 37, 12, 29, 31, 9, 21, 13, 1, 36, 3, 35, 7, 33, 14, 20, 2, 0]
[11, 8, 17, 16, 19, 6, 13, 9, 3, 2, 12, 0, 5, 14, 18, 4, 15, 1, 10, 7]
[7, 87, 15, 3, 47, 24, 50, 29, 6, 13, 74, 80, 37, 75, 52, 22, 90, 36, 71, 55]
[23, 24, 56, 52, 59, 58, 74, 0, 10, 30, 28, 11, 69, 12, 2, 73, 50, 29, 22, 63]
[22, 12, 3, 36, 23, 48, 18, 30, 37, 40, 5, 11, 47, 10, 25, 41, 20, 59, 58, 8]
[18, 31, 22, 7, 20, 5, 13, 35, 25, 37, 16, 17, 4, 34, 28, 14, 29, 38, 8, 10]
[16, 3, 14, 18, 17, 10, 7, 6, 2, 12, 11, 5, 4, 0, 9, 8, 1, 19, 15, 13]
[97, 49, 57, 4, 21, 53, 43, 96, 24, 69, 67, 71, 61, 73, 15, 23, 6, 52, 34, 0]
[67, 42, 49, 3, 44, 56, 32, 34, 0, 5, 66, 12, 41, 16, 28, 7, 65, 40, 57, 13]
[53, 23, 20, 6, 2, 27, 48, 1, 40, 32, 55, 28, 13, 52, 12, 18, 5, 10, 24, 36]
[25, 24, 38, 13, 9, 39, 4, 27, 23, 15, 11, 32, 22, 30, 3, 33, 26, 1, 37, 16]
[6, 12, 17, 7, 9, 10, 3, 16, 5, 2, 11, 19, 8, 4, 15, 0, 13, 1, 18, 14]
[66, 9, 87, 13, 41, 33, 84, 69, 17, 25, 42, 86, 74, 10, 61, 1, 73, 96, 15, 16]
[77, 36, 78, 10, 79, 62, 67, 69, 35, 44, 63, 65, 60, 49, 9, 3, 74, 51, 8, 56]
[7, 23, 2, 56, 54, 13, 22, 0, 59, 1, 51, 41, 6, 42, 31, 5, 50, 30, 25, 16]
[32, 5, 33, 34, 36, 11, 7, 20, 37, 17, 13, 14, 21, 18, 24, 1, 31, 9, 30, 12]
[16, 3, 14, 9, 19, 0, 4, 18, 12, 11, 13, 17, 7, 8, 5, 10, 15, 2, 6, 1]
[92, 36, 19, 65, 27, 95, 87, 79, 88, 90, 3, 71, 73, 58, 14, 70, 85, 17, 0, 11]
[72, 73, 25, 78, 10, 28, 14, 12, 38, 45, 56, 63, 9, 4, 29, 51, 21, 47, 70, 0]
[25, 4, 46, 32, 55, 41, 58, 19, 45, 50, 35, 21, 51, 1, 29, 13, 18, 6, 28, 53]
[25, 24, 15, 23, 31, 19, 39, 37, 29, 4, 6, 7, 1, 38, 9, 32, 17, 0, 33, 8]
[9, 8, 19, 6, 15, 0, 5, 2, 17, 13, 12, 10, 14, 16, 4, 3, 11, 1, 7, 18]
[70, 75, 95, 12, 5, 26, 71, 82, 22, 98, 62, 72, 11, 99, 94, 58, 83, 30, 36, 64]
[63, 72, 67, 50, 73, 44, 27, 66, 5, 21, 20, 70, 33, 1, 23, 4, 65, 26, 39, 31]
[54, 12, 24, 48, 42, 53, 56, 17, 21, 11, 33, 49, 16, 35, 43, 23, 2, 4, 44, 5]
[0, 34, 38, 15, 19, 23, 2, 22, 28, 24, 7, 11, 17, 3, 16, 30, 37, 14, 32, 21]
[19, 1, 13, 16, 18, 5, 12, 7, 15, 17, 10, 8, 6, 2, 0, 3, 14, 11, 9, 4]
[37, 65, 45, 66, 6, 72, 93, 30, 16, 51, 95, 74, 26, 73, 90, 71, 31, 62, 29, 1]
[66, 42, 37, 77, 29, 61, 3, 48, 7, 75, 27, 79, 49, 78, 54, 24, 34, 4, 45, 44]
[5, 18, 50, 44, 45, 3, 26, 30, 36, 56, 28, 9, 38, 14, 11, 15, 25, 40, 0, 53]
[18, 38, 0, 29, 8, 12, 36, 10, 39, 26, 23, 15, 33, 11, 27, 7, 25, 21, 19, 34]
[13, 10, 17, 14, 11, 1, 2, 15, 3, 5, 12, 16, 18, 7, 8, 6, 19, 0, 4, 9]
[62, 74, 32, 18, 81, 21, 86, 65, 49, 85, 84, 79, 90, 76, 29, 55, 80, 3, 15, 26]
[22, 35, 56, 13, 51, 25, 0, 26, 19, 57, 12, 38, 7, 9, 1, 10, 49, 45, 76, 48]
[56, 33, 0, 50, 15, 34, 6, 9, 1, 26, 37, 20, 47, 18, 3, 5, 41, 55, 35, 7]
[17, 20, 14, 1, 29, 38, 9, 16, 25, 18, 24, 37, 10, 3, 21, 26, 31, 30, 23, 5]
[3, 6, 11, 19, 18, 5, 12, 9, 13, 15, 7, 14, 8, 17, 4, 0, 2, 1, 10, 16]
[10, 49, 65, 86, 76, 70, 3, 19, 14, 35, 61, 74, 16, 91, 85, 90, 64, 7, 17, 95]
[47, 70, 16, 37, 42, 68, 11, 27, 67, 32, 21, 69, 72, 45, 19, 78, 54, 65, 43, 39]
[43, 59, 39, 7, 37, 32, 58, 3, 56, 6, 4, 11, 5, 9, 0, 15, 12, 44, 29, 21]
[38, 15, 39, 3, 30, 18, 1, 23, 10, 22, 9, 36, 14, 25, 27, 37, 17, 16, 0, 5]
[17, 6, 15, 8, 4, 10, 9, 18, 16, 13, 7, 3, 2, 1, 5, 0, 19, 12, 11, 14]
[15, 59, 23, 89, 51, 85, 35, 32, 8, 21, 70, 68, 81, 58, 73, 77, 97, 22, 20, 75]
[16, 73, 35, 79, 2, 3, 30, 18, 22, 11, 10, 28, 25, 12, 52, 65, 49, 46, 77, 50]
[51, 31, 32, 45, 37, 23, 58, 15, 20, 56, 40, 50, 18, 2, 29, 53, 35, 14, 57, 13]
[6, 32, 39, 38, 11, 24, 34, 37, 0, 31, 2, 5, 18, 14, 21, 13, 3, 12, 29, 33]

In [118]:
id

2280

In [124]:
data = pd.DataFrame({
    "sentence_id":sentence_id,
    "word": words,
    "label":labels
})
data

       sentence_id    word  label
0                0    Give      O
1                0      me      O
2                0       a      O
3                0    Baby  B-FUR
4                0  lotion  I-FUR
...            ...     ...    ...
31983         2279   point      O
31984         2279      of      O
31985         2279      my      O
31986         2279  living      O
31987         2279   room.      O

[31988 rows x 3 columns]

In [125]:
data.to_excel("model_data.xlsx", encoding="utf-8", index=False)

In [126]:
data[data["sentence_id"]==0]

    sentence_id      word  label
0             0      Give      O
1             0        me      O
2             0         a      O
3             0      Baby  B-FUR
4             0    lotion  I-FUR
5             0      with      O
6             0         a      O
7             0    fabric      O
8             0      seat      O
9             0       and      O
10            0  backrest      O
11            0       for      O
12            0     extra      O
13            0   comfort      O
14            0     while      O
15            0  working.      O